<div class="users">
  <div class="search-wrapper">
    <app-search (search)="findUsers($event)"></app-search>
  </div>
  <div class="users-wrapper">
    <div class="header">
      <h2>GitHub Most Popular Users </h2>
      <ul>
        <li (click)="viewList()" title="List View">
          <span class="material-icons-round list" [ngClass]="{'active' : view === 'list'}">view_list</span>
        </li>
        <li (click)="viewGrid()" title="Grid View">
          <span class="material-icons-round grid" [ngClass]="{'active' : view === 'grid'}">grid_view</span>
        </li>
      </ul>
    </div>
    <div class="content" [ngClass]="{'list-view' : view === 'list', 'grid-view' : view === 'grid'}">
      <div *ngFor="let user of users$ | async ">
        <app-user [view]="view" [user]="user"></app-user>
      </div>
    </div>
  </div>
</div>
