@import "../../../../styles/index";

:host {
  display: block;
  width: 90%;
}

.users {
  width: 100%;
  min-width: fit-content;
}

.search-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.users-wrapper {
  width: 100%;
  min-width: fit-content;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;

  .header {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include text-style(20px, 500);
    text-transform: capitalize;
    border-bottom: 2px solid $primary;
    box-shadow: 0 14px 15px -20px rgba(0, 0, 0, 0.44);

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;

      li {
        cursor: pointer;
        list-style: none;

        span {
          font-size: 30px;
          color: $secondary;
        }

        span.list {
          font-size: 35px;
        }

        .active {
          color: $primary;
        }
      }
    }
  }

  .content {
    width: 100%;
    padding: 20px;
    gap: 20px;
  }

  .list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    div {
      width: 100%;
      min-width: fit-content;
    }
  }

  .grid-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    div {
      width: 45%;
      min-width: fit-content;
    }
  }

  @media screen and (max-width: 650px) {
    .grid-view {
      display: flex;
      flex-direction: column;

      div {
        width: 100%;
        min-width: fit-content;
      }
    }
  }
}
