@import "../../../../styles/index";

:host {
  display: inline-block;
  width: 100%;
}

.user {
  width: 100%;
  padding: 20px;
  //min-width: 500px;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0 3px 8px lightgray;
  @include text-style(16px, 500, black);
  transition: all 0.2s ease-in-out;
  cursor: context-menu;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px gray;
  }
}

.user-info {
  padding: 10px;
  width: 50%;
  a{
    padding-bottom: 10px;
    @include text-style(20px, 500);
    word-break: break-all;
  }
  div {
    @include text-style(16px, 500);
  }
}

.user-repos {
  padding: 10px;
  width: 50%;

  & > div {
    @include text-style(18px, 600, black);
    padding-bottom: 5px;
  }

  a {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0;
  }
}

.user-avatar {
  min-width: fit-content;
  img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}


.list-view {
  width: 100%;
  display: flex;
  align-items: flex-start;

  .user-avatar {
    width: 20%;
  }

  .user-info, .user-repos {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .list-view {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .user-avatar, .user-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .user-repos {
      width: 100%;
    }
  }
}

.grid-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .user-avatar, .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .user-repos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .user-avatar img {
    width: 200px;
    height: 200px;
  }
}

