@import "../../../../styles/index";

:host{
  display: block;
  width: 100%;
}

.user {
  padding: 20px;
  min-width: 500px;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: #eef6f6;
  box-shadow: 0 3px 8px lightgray;
  transition: all 0.2s ease-in-out;
  @include text-style(16px, 500, black);
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px gray;
  }
}

.user-info {
  padding: 10px;
  width: 50%;

  div:first-child {
    @include text-style(20px, 600, black);
    max-width: 300px; /// ????????????????
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0;
  }

  div:last-child {
    @include text-style(16px, 500, black);
    padding: 10px 0;
  }
}

.user-repos {
  padding: 10px;
  width: 50%;

  & > div {
    @include text-style(18px, 600, black);
    padding-bottom: 5px;
  }

  a {
    max-width: 90%;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    padding: 5px 0;
  }
}

.user-avatar {
  min-width: fit-content;
  img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
}


.list-view {
  width: 100%;
  display: flex;
  align-items: flex-start;

  .user-avatar {
    flex: 1;
  }

  .user-info, .user-repos {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.grid-view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .user-avatar, .user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .user-repos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .user-avatar img {
    width: 200px;
    height: 200px;
  }
}

