<div class="list-grid-view">
  <div class="header">
    <div>
      <ng-content select="[header]"></ng-content>
    </div>
    <ul>
      <li (click)="viewList()"><i class="las la-th-list" title="List View"></i></li>
      <li (click)="viewGrid()"><i class="las la-th-large" title="Grid View"></i></li>
    </ul>
  </div>
  <div class="content" [ngClass]="{'list-view' : view == 'list', 'grid-view' : view == 'grid'}">
    <div>
      <ng-content select="[leftContent]"></ng-content>
    </div>
    <div>
      <ng-content select="[rightContent]"></ng-content>
    </div>
  </div>
</div>
