@import "../../../styles/index";

:host {
  display: inline-block;
  width: 100%;
}

.search {
  width: 100%;
  min-width: 270px;
}

.search-bar {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $primary;
  border-bottom-right-radius: 3px;

  input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 15px;
    line-height: 20px;
    @include text-style(16px, 400);

    &::placeholder {
      color: $secondary;
    }
  }

  button {
    background: none;
    padding: 5px 6px 0px;
    line-height: 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid $primary;
    @include text-style(16px, 400);
  }
}

.search-history {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    @include text-style(16px, 400);
  }
}

p {
  padding: 8px 10px;
  margin: 5px;
  border-radius: 50px;
  border: 1px solid $secondary;
  box-shadow: 5px 5px 17px -6px $shadow;
  max-width: 150px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  transition: .3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
  }
}
